@model List<ApiMovieModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Api Film Listesi</h1>

<br />

<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>adı</th>
        <th>puan</th>
        <th>yıl</th>
        <th>fragman</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.rank</td>
            <td>@item.title</td>
            <td>@item.rating</td>
            <td>@item.year</td>
            <td>Fragman</td>
        </tr>
    }
</table>