
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow " data-scroll-to-active="true" data-img="~/PanelUser/theme-assets/images/backgrounds/02.jpg">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto">
                <a class="navbar-brand" href="/Default/Index">
                    <img class="brand-logo" alt="Chameleon admin logo" src="~/PanelUser/theme-assets/images/logo/logo.png" />
                    <h3 class="brand-text">YeşilAyak</h3>
                </a>
            </li>
            <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
        </ul>
    </div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item">
                <a href="/Member/Dashboard/MemberDashboard"><i class="ft-home"></i><span class="menu-title" data-i18n="">Dashboard</span></a>
            </li>

            <li class=" nav-item">
                <a href="/Member/Rezervation/MyActiveRezervation"><i class="ft-check-circle"></i><span class="menu-title" data-i18n="">Aktif Rezerv...</span></a>
            </li>

            <li class=" nav-item">
                <a href="/Member/Rezervation/MyPendingApprovalRezervation"><i class="ft-clock"></i><span class="menu-title" data-i18n="">Bekleyen Rezer...</span></a>
            </li>

            <li class=" nav-item">
                <a href="/Member/Rezervation/MyPastRezervation"><i class="ft-circle"></i><span class="menu-title" data-i18n="">Geçmis Rezerv...</span></a>
            </li>

            <li class=" nav-item">
                <a href="/Member/Rezervation/NewRezervation"><i class="ft-plus-circle"></i><span class="menu-title" data-i18n="">Yeni Rezerv...</span></a>
            </li>

        </ul>
        <div class="navigation-background"></div>
    </div>
</div>