
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Pdf Raporu</h2>
<a href="/PDFReport/StaticPDFReport" class="btn btn-outline-info">Pdfe git</a>
<br />
<br />
<a href="/PDFReport/StaticCustomerReport" class="btn btn-outline-info">Pdfe git</a>

