@model Feature
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <a class="btn btn-secondary mb-1" asp-action="Index" asp-controller="AboutDestination">Geri</a>
    <div class="card">
        <div class="card-header bg-warning">
            <h4 class="card-title text-white">Rehber Düzenleme Sayfası</h4>
        </div>
        <div class="card-body">
            <form asp-action="Update" asp-controller="AboutDestination" asp-area="Admin" enctype="multipart/form-data">
                <input type="hidden" asp-for="FeatureID" />
                <div class="row mb-2">
                    <div class="col-9">
                        <div class="mb-2">
                            <label>Rehberin Adı Soyadı</label>
                            <input type="text" asp-for="Post1Name" class="form-control" />
                            <span asp-validation-for="Post1Name" class="text-danger"></span>
                        </div>
                        <div class="mb-2">
                            <label>İçerik</label>
                            <textarea id="richEditor" asp-for="Post1Description" class="form-control" rows="8"></textarea>
                            <span asp-validation-for="Post1Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="mb-2">
                    <button type="submit" class="btn btn-warning w-100">Güncelle</button>
                </div>
            </form>
        </div>
    </div>
</div>

