
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel Raporları</h1>
<br />
<a href="/Excel/DestinationExcelRapor/" class="btn btn-info">Etkinlik Excel Dosyası</a>
<br />
<br />
<a href="/Excel/StaticExcelList/" class="btn btn-info">Etkinlik Excel Dosyası</a>

