@model IEnumerable<Destination>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sayac = 1;
}
<style>
    img{
        width:50px;
        height:50px;
        object-fit:cover;
    }
</style>
    
<h1>Etkinlikler</h1>
<a href="/Admin/Destination/AddDestinations/" class="btn btn-outline-success mb-3">Etkinlik Ekle</a>
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Etkinlik Adı</th>
        <th>Etkinlik Resimi</th>
        <th>Kapasite</th>
        <th>Fiyat</th>
        <th>Sitede Gör</th>
        <th>Sil</th>
        <th>GÜncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@sayac</td>
            <td>@item.DestinationName</td>
            <td><img src="~/ImageDestination/@item.Image" /></td>
            <td>@item.Capacity</td>
            <td>@item.Price</td>
            <td><a href="/Destination/DestinationDetails/@item.DestinationID" class="btn btn-outline-info">Sitede Gör</a></td>
            <td><a href="/Admin/Destination/DeleteDestinations/@item.DestinationID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Admin/Destination/UpdateDestinations/@item.DestinationID" class="btn btn-outline-warning">Güncelle</a></td>
        </tr>
        sayac++;
    }
</table>
