@using EntityLayer.Concrete
@model List<Destination>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Etkinlikler</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Sehir</th>
        <th>Fiyat</th>
        <th>Kapasite</th>
        <th>Sitede Gör</th>
        <th>Sil</th>
        <th>GÜncelle</th>
    </tr>

    @{ var i = 1; }
    @foreach (var item in Model)
    {
        <tr>
            <td>@i</td>
            <td>@item.City</td>
            <td>@item.Price</td>
            <td>@item.Capacity</td>
            <td><a href="/DestinationController1/DestinationDetails/@item.DestinationID" class="btn btn-outline-info">Sitede Gör</a></td>
            <td><a href="/Admin/Destination/DeleteDestinations/@item.DestinationID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Admin/Destination/UpdateDestinations/@item.DestinationID" class="btn btn-outline-warning">Güncelle</a></td>
        </tr>
        i++;
    }
</table>
<a href="/Admin/Destination/AddDestinations/" class="btn btn-outline-warning">Etkinlik Ekle</a>
