<div class="col-12 col-lg-8 order-2 order-md-3 order-lg-2 mb-4">
    <div class="card">
        <div class="row row-bordered g-0">
            <div class="col-md-8">
                <h5 class="card-header m-0 me-2 pb-3">Toplam Kazanılan</h5>
                <h5 class="card-header m-0 me-2 pb-3">@ViewBag.v3</h5>
                <div id="totalRevenueChart" class="px-2"></div>
            </div>
            <div class="col-md-4">
                <div class="card-body">
                </div>
                <div id="growthChart"></div>
            </div>
        </div>
    </div>
</div>