
@model List<About>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!doctype html>
<html lang="tr">

<body>

    @foreach (var item in Model)
    {
        <section class="w3l-about-breadcrumb text-left">
            <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
                <div class="container py-2">
                    <h2 class="title">@item.Title</h2>
                    <ul class="breadcrumbs-custom-path mt-2">
                        <li><a href="/Default/Index/">Ana Sayfa</a></li>
                        <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Hakımızda </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="w3l-cta4 py-5">
            <div class="container py-lg-5">
                <div class="ab-section">
                    @Html.Raw(item.Description)
                </div>
                @*<div class="row mt-5">
                        <div class="col-md-9 mx-auto">
                            <img src="~/CatagoryImage/yesilayak.jpg" class="img-fluid" alt="">
                        </div>
                    </div>*@
            </div>
        </section>
    }
    <!-- //about-6-->
    @await Component.InvokeAsync("_WhyUS")

    <!-- team -->
    @await Component.InvokeAsync("_AboutDestination")

    @await Component.InvokeAsync("_Guide")


</body>

</html>

