@model List<Guide>

<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Etkinlik Rehberlerimiz</h4>
            <a class="heading-elements-toggle">
                <i class="fa fa-ellipsis-v font-medium-3"></i>
            </a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li>
                        <a data-action="reload">
                            <i class="ft-rotate-cw"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-content">
            <div id="recent-buyers" class="media-list">
                @foreach (var item in Model)
                {
                    <a href="/Guide/Index" class="media border-0">
                        <div class="media-left pr-1">
                            <span class="avatar avatar-md avatar-online" style="width:40px">
                                <img class="media-object rounded-circle" style="height:40px; object-fit:cover;" src="~/ImageGuide/@item.Image" alt="Generic placeholder image">
                            </span>
                        </div>
                        <div class="media-body w-100">
                            <span class="list-group-item-heading">
                                @item.Name.ToUpper()

                            </span>
                            
                            <p class="list-group-item-text mb-0">
                                @if (item.Description != null && item.Description.Length > 50)
                                {
                                    <span class="post">@item.Description.Substring(0, 50) </span>

                                }
                                else
                                {
                                    <span class="post">@item.Description</span>
                                }
                            </p>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</div>