@model List<Comment>
<section class="w3l-clients" id="clients">
    <!-- /grids -->
    <div class="cusrtomer-layout py-5">
        <div class="container py-lg-4 py-md-3 pb-lg-0">
            <div class="heading text-center mx-auto">
                <h6 class="sub-title text-center">Katılımcılarımızın bizim için neler dedi?</h6>
                <h3 class="hny-title mb-md-5 mb-4">Düsünceleriniz çok kıymetli</h3>
            </div>
            <!-- /grids -->
            <div class="testimonial-width">
                <div id="owl-demo1" class="owl-two owl-carousel owl-theme">
                    @foreach (var item in Model)
                    {
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <span class="fa fa-quote-left" aria-hidden="true"></span>
                                        @item.AppUser.UserName.ToUpper()
                                    </blockquote>
                                    <div class="testi-des">
                                        <div class="test-img">
                                            @if (item.AppUser.Image != null)
                                            {
                                                <img src="~/UserImages/@item.AppUser.Image" class="img-fluid" alt="client-img">
                                            }
                                            else
                                            {
                                                <img src="~/UserImages/default-profile.jpg" class="img-fluid" alt="client-img">

                                            }
                                        </div>
                                        <div class="peopl align-self">
                                            <h3>@item.Content</h3>
                                            <p style="text-align:end; margin-top:16px; font-size:small">@item.Destination.DestinationName.ToUpper()</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>