<section class="w3l-stats py-5" id="stats">
    <div class="gallery-inner container py-lg-0 py-3">
        <div class="row stats-con pb-lg-3">
            <div class="col-lg-3 col-6 stats_info counter_grid">
                <p class="counter">@ViewBag.aetkinlik</p>
                <h4>Aktif Etkinlik Sayısı</h4>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid1">
                <p class="counter">@ViewBag.tetkinlik</p>
                <h4>Toplam Yapılan Etknlik</h4>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid mt-lg-0 mt-5">
                <p class="counter">@ViewBag.rehber</p>
                <h4>Rehberlerimiz</h4>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid2 mt-lg-0 mt-5">
                <p class="counter">@ViewBag.katagori</p>
                <h4>Etkinlik Katagorilerimiz</h4>
            </div>
        </div>
    </div>
</section>
