@model DTOLayer.DTOs.ContactDTOs.MessageDTO
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-2">
            <h2 class="title">İletişim</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="/Default/Index/">Ana Sayfa</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> İletişim </li>
            </ul>
        </div>
    </div>
</section>
<div role="alert" id="alertBox" style="display: none; position: fixed; top: 20%; left: 50%; height:13%; transform: translateX(-50%); opacity: 0.8;"></div>

<section class="w3l-contact" id="contact">
    <div class="contact-infubd py-5">
        <div class="container py-lg-3">
            <div class="contact-grids row">
                @await Component.InvokeAsync("_Contact")
                <div class="col-lg-6 mt-lg-0 mt-5 contact-right">
                    <form method="post" class="signin-form" id="contactForm"  action="@Url.Action("Index", "Contact")">
                        <div class="input-grids">
                            <div class="form-group">
                                <input type="text" placeholder="Başlık*" asp-for="ContactInfoSubject" class="contact-input" />
                                <span asp-validation-for="ContactInfoSubject" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea placeholder="Mesaj*" asp-for="MessageBody"></textarea>
                            <span asp-validation-for="MessageBody" class="text-danger"></span>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-style btn-primary">Gönder</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="map mt-5 pt-md-5">
                <h5>Harita</h5>
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d47620.86046593917!2d27.1371986881001!3d41.757107791060804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sK%C4%B1rklareli%20%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1719235850910!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.getElementById('contactForm').addEventListener('submit', function (event) {
            event.preventDefault();

            var form = this;    
            var alertBox = document.getElementById('alertBox');

            $.ajax({
                type: form.method,
                url: form.action,
                data: $(form).serialize(),
                success: function (response) {
                    if (response.success) {
                        displayMessage('Mesajınız başarıyla gönderilmiştir!', 'alert-success');
                        form.reset();
                    } else {
                        displayMessage('Mesaj gönderilirken bir hata oluştu.', 'alert-danger');
                    }
                },
                error: function () {
                    displayMessage('Mesaj gönderilirken bir hata oluştu.', 'alert-danger');
                }
            });

            function displayMessage(message, className) {
                alertBox.className = "alert " + className + " w-50 py-3 mx-auto align-items-center justify-content-center";
                alertBox.textContent = message;
                alertBox.style.display = 'flex';

                setTimeout(function () {
                    alertBox.style.display = 'none';
                }, 3000);
            }
        });
    </script>
}

