<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
        <a href="/Admin/DAshboard/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Dashboard</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/Role/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-user-circle"></i>
            <div data-i18n="Analytics">Rol İşlemleri</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/User/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-circle"></i>
            <div data-i18n="Analytics">Misafirler</div>
        </a>
    </li>

    <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Etkinlik Alnı</span>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-table"></i>
            <div data-i18n="Account Settings">Etkinlik Bilgileri</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="/Admin/Destination/Index/" class="menu-link">
                    <div data-i18n="Account">Etkinlikler</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/Admin/Catagory/Index/" class="menu-link">
                    <div data-i18n="Notifications">Kategoriler</div>
                </a>
            </li>

            <li class="menu-item">
                <a href="/Admin/Guide/Index/" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-phone-call"></i>
                    <div data-i18n="Analytics">Rehberler</div>
                </a>
            </li>

        </ul>
    </li>

    <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Sayfa Alanı</span>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-layout"></i>
            <div data-i18n="Account Settings">ANA SAYFA</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="/Admin/SubAbout/Index/" class="menu-link">
                    <div data-i18n="Account">Hakkımızda</div>
                </a>
            </li>
        </ul>
    </li>

    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-layout"></i>
            <div data-i18n="Account Settings">HAKKIMIZDA SAYFASI</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="/Admin/WhyUs/Index/" class="menu-link">
                    <div data-i18n="Account">Neden Biz</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/Admin/About/Index/" class="menu-link">
                    <div data-i18n="Account">Hakkımızda</div>
                </a>
            </li>
        </ul>
    </li>

    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-layout"></i>
            <div data-i18n="Account Settings">İLETİŞİM SAYFASI</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="/Admin/Contact/Index/" class="menu-link">
                    <div data-i18n="Account">İletişim Bilgileri</div>
                </a>
            </li>
        </ul>
    </li>

    <li class="menu-header small text-uppercase">
        <span class="menu-header-text">BİLDİRİM ALANI</span>
    </li>

    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-layout"></i>
            <div data-i18n="Account Settings">GERİ BİLDİRİM</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="/Admin/Comment/Index/" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-comment"></i>
                    <div data-i18n="Analytics">Yorumlar</div>
                </a>
            </li>

            <li class="menu-item">
                <a href="/Admin/ContactInfo/Index/" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-message-alt"></i>
                    <div data-i18n="Analytics">Gelen Mesajlar</div>
                </a>
            </li>

            <li class="menu-item">
                <a href="/Admin/Mail/Index/" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-mail-send"></i>
                    <div data-i18n="Analytics">Mail Gönder</div>
                </a>
            </li>
        </ul>
    </li> 
    <li class="menu-header small text-uppercase">
        <span class="menu-header-text">RAPOR ALANI</span>
    </li>

    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-layout"></i>
            <div data-i18n="Account Settings">RAPORLAR</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="/Excel/Index/" class="menu-link">
                    <i class="menu-icon tf-icons bx bxs-report"></i>
                    <div data-i18n="Analytics">Excel Rapor</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/PDFReport/Index/" class="menu-link">
                    <i class="menu-icon tf-icons bx bxs-report"></i>
                    <div data-i18n="Analytics">PDF Rapor</div>
                </a>
            </li>
        </ul>
    </li>

    <li class="menu-item">
        <a href="/Admin/Annoncement/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-comment"></i>
            <div data-i18n="Analytics">Duyurular</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/Comment/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-info-square"></i>
            <div data-i18n="Analytics">Öne Çıkanlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-navigation"></i>
            <div data-i18n="Analytics">Referanslar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-abacus"></i>
            <div data-i18n="Analytics">Alt Hakkında</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-restaurant"></i>
            <div data-i18n="Analytics">Rezervasyonlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-mail-send"></i>
            <div data-i18n="Analytics">Mail Listesi</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-info-square"></i>
            <div data-i18n="Analytics">Öne Çıkanlar 2</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-key"></i>
            <div data-i18n="Analytics">Şifre İşlemleri</div>
        </a>
    </li>
    <li class="menu-item mb-5">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-exit"></i>
            <div data-i18n="Analytics">Çıkış Yap</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Visiter/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-circle"></i>
            <div data-i18n="Analytics">Api Misafir Listesi</div>
        </a>
    </li>

</ul>