
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="~/PanelAdmin/assets/"
      data-template="vertical-menu-template-free">
@await Html.PartialAsync("/Views/Admin/Header.cshtml")

<body>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->

            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

                @await Html.PartialAsync("/Views/Admin/AppBrandDemo.cshtml")

                <div class="menu-inner-shadow"></div>

                @await Html.PartialAsync("/Views/Admin/SideBar.cshtml")

            </aside>
            <div class="layout-page">
                @await Component.InvokeAsync("_AdminNavbar")


                <div class="content-wrapper">
                    <div class="container-xxl flex-grow-1 container-p-y">
                        @RenderBody()
                    </div>
                    @await Html.PartialAsync("/Views/Admin/Footer.cshtml")
                    <div class="content-backdrop fade"></div>
                </div>
            </div>
        </div>
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    @await Html.PartialAsync("/Views/Admin/Script.cshtml")
    <script src="https://cdn.tiny.cloud/1/l53me0cw98ro59sprwx8izmr1bor4bjjq4uu8r2zf3yo27he/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#richEditor',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>