@{
    Layout = null;
}

<!doctype html>
<html lang="tr">

@await Html.PartialAsync("/Views/LayoutPartial/_Header.cshtml")

<body>

    @*@await Html.PartialAsync("/Views/LayoutPartial/1.cshtml")*@
    @await Component.InvokeAsync("_Navbar")

    @RenderBody()

    @await Component.InvokeAsync("_Footer")


    @await Html.PartialAsync("/Views/LayoutPartial/_Scripts.cshtml")

</body>
</html>
