
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("/Views/MemberPartial/_Header.cshtml")

<body class="g-sidenav-show  bg-gray-100">

    @await Html.PartialAsync("/Views/MemberPartial/_Navbar.cshtml")

    <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
        @await Html.PartialAsync("/Views/MemberPartial/_Navbar2.cshtml")
        <div class="container-fluid py-4">

            @RenderBody()
            @await Html.PartialAsync("/Views/MemberPartial/_Footer.cshtml")

        </div>
    </main>
    @await Html.PartialAsync("/Views/MemberPartial/_RightBar.cshtml")
    @await Html.PartialAsync("/Views/MemberPartial/_Script.cshtml")
</body>
</html>
